---
title: "Team"
layout: default
excerpt: "MDMG: Team members"
sitemap: false
permalink: /team/
---

<h2>{{page.title}}</h2>

<!-- Current Members -->

<h2><a id="CurrentMembers"></a>Current Members</h2>
{% assign members = site.posts | where: 'category', 'CurrentMembers' | sort: 'date' %}
{% for member in members %}
<div class="card team-member-card">
    <div class="row mt-3">
        <div class="col-md-2">
            {% if member.image %}
               <img src="{{ site.url }}{{ site.baseurl }}/images/team/{{ member.image }}"
                    class="card-img img-responsive img-thumbnail"
                    style="filter: grayscale(0%); max-width: 100px;"/>
            {% endif %}
        </div>

        <div class="col-md-10">
            <div class="card-body">
                {% if member.social.website %}
                  <a href={{member.social.website}}>
                    <h4 class="card-title">{{ member.title }}</h4>
                  </a>  
                {%else%} 
                  <h4 class="card-title">{{ member.title }}</h4>
                {% endif %}
                <p class="card-text">{{ member.role }}</p>
            </div>
        </div>
    </div>
</div>
{% endfor %}

<!-- Collaborators -->

<h2><a id="Collaborators"></a>Former Members</h2>
{% assign members = site.posts | where: 'category', 'Collaborators' | sort: 'date' %}
{% for member in members %}
<div class="card team-member-card">
    <div class="row mt-3">
        <div class="col-md-2">
        </div>
        <div class="col-md-12">
            <div class="card-body">
                {% if member.social.website %}
                  <a href={{member.social.website}}>
                    <h4 class="card-title">{{ member.title }}</h4>
                  </a>  
                {%else%} 
                  <h4 class="card-title">{{ member.title }}</h4>
                {% endif %}
                <p class="card-text">{{ member.role }}</p>
            </div>
        </div>
    </div>
</div>
{% endfor %}

<!-- Former_Members -->

<h2><a id="FormerMembers"></a>Former Members</h2>
{% assign members = site.posts | where: 'category', 'FormerMembers' | sort: 'date' %}
{% for member in members %}
<div class="card team-member-card">
    <div class="row mt-3">
        <div class="col-md-2">
        </div>
        <div class="col-md-12">
            <div class="card-body">
                <h4 class="card-title">{{ member.title }}</h4>
            </div>
        </div>
    </div>
</div>
{% endfor %}
